modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["pipx", "python3", "python311"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_GROWPOD_APP_ID = "753908449"
VITE_BUD_ASSET_ID = "753908454"
VITE_TERP_ASSET_ID = "753908455"
VITE_GROWPOD_APP_ADDRESS = "3HHK67MY7D3C6TZA7WA5QOTO75CLU7VPNRC4GCBJZ4W3MFEHKHELUK7DBE"
VITE_SLOT_ASSET_ID = "753908456"
